<html>

<head>
    <link rel="stylesheet" type="text/css" href="myStyleFile/myStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZq3N4iOcyQ0Bi7UC2FukTPMWbULtBuFo&libraries=places"></script>


    <title>FindTheLoc</title>
</head>

<body ng-app='myApp'>
    <div class="backgroundDiv">
    </div>
    <video poster="myStyleFile/images/screen.png" id="bgvid" playsinline autoplay muted loop>
        <source src="myStyleFile/images/screenVideo.mp4" type="video/mp4">
    </video>

    <div ng-controller='MainController'>
        <div>
            <img class="menu-img" tabindex="1" src="myStyleFile/images/menu.png" alt="Menu" title="Menu">
            <ul class="navigation">
                <li><a href="index.html">Αρχική</a></li>
                <li><a href="signIn.html">Σύνδεση</a></li>
                <li><a href="signUp.html">Εγγραφή</a></li>
            </ul>
        </div>
        <h1>EXPLORE THE WORLD</h1>
        <form class="search">
            <input type="search" id="txtautocomplete" placeholder="Πληκτρολογήστε μία τοποθεσία" required />
            <br/>
        </form>

        <div id="checkDiv" class="checkboxInitialClass">
            <h4>Φίλτρο Αναζήτησης</h4>
            <hr>
            <label id="checkboxes" ng-repeat="category in categories track by $index">        
                <input type="checkbox" ng-model="checkboxValue" ng-change="change(checkboxValue,category)">{{category}}              
        </label>
        </div>

        <div class="maincontainer">

            <div class="pic-container" data-ng-repeat="place in places track by $index">

                <p>{{place.name}}</p>
                <img data-ng-src="{{place.img}}" />

            </div>
        </div>

    </div>
    <footer>
        <p>FindTheLoc Copyrights 2017</p>
    </footer>
    <script type="text/javascript" src="javascriptFiles/app.js"></script>
    <script type="text/javascript" src="javascriptFiles/Services/translateService.js"></script>
    <script type="text/javascript" src="javascriptFiles/Controllers/mainController.js"></script>
    <script type="text/javascript" src="javascriptFiles/dom.js"></script>
</body>

</html>